<h2>Users</h2>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Security Salt</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% for(var i=0; i<users.length; i++) {%>
        <tr>
            <td><%= users[i]._id %></td>
            <td><%= users[i].clientId %></td>
            <td><%= users[i].securitySalt %></td>
            <td><a href="/admin/delete/<%= users[i]._id %>">Delete</a></td>
        </tr>
        <% } %>
    </tbody>
</table>
<a href="/admin/add">Add</a>

<h2>Meetings</h2>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>customerId</th>
            <th>meetingId</th>
        </tr>
    </thead>
    <tbody>
        <% for(var i=0; i<users.length; i++) {%>
        <tr>
            <td><%= meetings[i]._id %></td>
            <td><%= meetings[i].clientId %></td>
            <td><%= meetings[i].meetingId %></td>
        </tr>
        <% } %>
    </tbody>
</table>